.warehouse__content {
  margin-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.warehouse__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 14px;
  display: block;
}

.warehouse__item {
  margin-bottom: 12px
}
.warehouse__section {
  margin-bottom: 24px
}
